@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    text-align: center;
}

header {
    background: var(--tg-theme-header-bg-color);
    text-align: center;
}

button {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
}

button:hover {
    background-color: var(--tg-theme-secondary-bg-color);
}

#form {
    display: none;
    text-align: center;
}